@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../../../node_modules/bulma/bulma";
/*$blue: #0000ff;*/

/*Mettre "../" pour les liens dans le css car ça tombe sur "./css" */

/*html {background-color: $green;}*/
.hero-body {background: linear-gradient(#000c,#000c),url("../ressources/images/header.jpg");
background-size: 100%;
background-position: 0 -100px;
}
.footer{background-color:lighten($black, 5%);
color: $white;}
.menu{margin-left: auto; margin-right: auto; display: block;}
.menu img{min-width: 32px;}
.icon{ text-align: center; margin-bottom: 50%;}
.button-accueil, .menu .button{margin: 10px; padding-top:50px; padding-bottom: 50px; width: 100%; white-space: initial;}
.button p{margin-left: 25px; font-size: initial;}
.is-center{ text-align:center;}
/*.btn-accueil{padding-left:0.5em; padding-right: 0.5em;}
.btn-accueil img{max-width: 100%; max-height: 100%; width: auto;height:auto;}*/
.column.accueil-column {display:flex; justify-content: space-between; flex-direction: column; align-self : stretch;}

/* PAGES INTERNES */
.menu-interne {
	margin: 50px;
 	img{min-width: 35px; align-self: center;}
	.column{padding:1px;}
}
.table { 
	th, td{text-align: center;}
	tr{text-align: center;}
/* Si hover alors appliuer la classe "is-selected" */
	tr:hover{
	background: $blue;
	color: $white;
	transition: background 150ms, color 150ms;
	}
	th:hover{
		background: initial;
		color: initial;
	}
}
